### Functional Programming

In [3]:
#Check whether number is even or odd
def even_or_odd(n):
    if n%2 == 0:
        print("Even number")
    else:
        print("Odd number")      
var = even_or_odd(10)
print(var)

Even number
None

In [6]:
#Check whether number is even or odd
def even_or_odd(n):
    if n%2 == 0:
        return True
    else:
        return False    
result = even_or_odd(10) 
if result:
    print("Even number")
else:
    print("Odd number")

Even number

In [4]:
#"Hello","Everyone" --> "Hello Everyone"
def adding_strings(string1,string2):
    return string1+string2

concat_string = adding_strings("Hello","Everyone" )
print(concat_string)

HelloEveryone

In [7]:
#square and cube
def square(x):
    return x*x
def cube(x):
    return x*square(x)
print(square(5))#25
print(cube(5))#125

25
125

### Anonymous function:lambda functions
syntax:
```
lambda arg list : statement
```

In [8]:
(lambda x : x*x) (5)

25

In [9]:
(lambda x,y : x * y)(10,20)

200

In [10]:
s = lambda x : x*x
s(5)

25

In [11]:
s(10)

100

In [12]:
s

In [13]:
x = int(input())
s(x)

10

100

### map(),filter() and reduce()

### map()
```
map(function,Iterable obj)
```

In [14]:
map(lambda x : x ** 3,[1,2,3,4,5])

In [15]:
list(map(lambda x : x ** 3,[1,2,3,4,5]))

[1, 8, 27, 64, 125]

In [16]:
#All the elements of list raise to power 3
#Traitional way
list1 = [1,2,3,4,5]
list2 = []
for i in list1:
    list2.append(i ** 3)
list2

[1, 8, 27, 64, 125]

In [26]:
def add(x,y):
    return x+y
#x = [10] and y = [20]
tuple(map(add,(10,20,30,40),(20,30,40)))

(30, 50, 70)

In [21]:
list(map(square,[10]))

[100]

In [34]:
list(map(len,["preeti"]))

[6]

In [32]:
x = (10,) #tuple
type(x)

tuple

In [35]:
list(map(lambda x : x ** 2,[2,3,4]))

[4, 9, 16]

In [37]:
#Accept multiple values from the user using single input()
#Three integer "10 20 30" --> ["10","20","30"]
a,b,c = list(map(int,input().split()))
print(a+b+c)

10 20 30
60

In [38]:
#unpacking
x,y,z = [100,200,300]

In [39]:
x

100

In [40]:
y

200

In [41]:
z

300

### filter():
filter(func,iterable)

In [42]:
filter(lambda x : x%2 == 0,[1,2,3,4,4,5,6,7,7,8,8])

In [43]:
list(filter(lambda x : x%2 == 0,[1,2,3,4,4,5,6,7,7,8,8]))

[2, 4, 4, 6, 8, 8]

In [44]:
list(map(lambda x : x%2 == 0,[1,2,3,4,4,5,6,7,7,8,8]))

[False, True, False, True, True, False, True, False, False, True, True]

### reduce():

In [45]:
from functools import reduce
reduce(lambda x,y : x+y,[1,2,3,4,5,6,7,8,9,10])

55

In [46]:
reduce(lambda x,y : x*y,[1,2,3,4,5,6,7,8,9,10])

3628800

### enumerate()

In [49]:
enumerate([10,20,30,40,50])

In [50]:
list(enumerate([10,20,30,40,50]))

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [53]:
#printing index and value
for index,value in enumerate([10,20,30,40,50],100):
    print(index,value)

100 10
101 20
102 30
103 40
104 50

### zip():

In [55]:
#working with two iterable objects
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10,11,12]
for x,y in zip(list1,list2):
    print(x+y)

7
9
11
13
15

### Idiomatic programming

In [56]:
#List comprehension
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10,11,12]
list3 = []
for x,y in zip(list1,list2):
    list3.append(x+y)
list3

[7, 9, 11, 13, 15]

In [57]:
list4 = [x+y for x,y in zip(list1,list2)]
list4

[7, 9, 11, 13, 15]

In [58]:
#Traditional way
list2 = [6,7,8,9,10,11,12]
list5 = []
for i in list2:
    if i%2 == 0:
        list5.append(i)
list5

[6, 8, 10, 12]

In [59]:
#Extracting even numbers from the list using list comprehension
list6 = [i for i in list2 if i%2 == 0]
list6

[6, 8, 10, 12]

In [60]:
#swapping two numbers
a = 20
b = 30
print("Before swapping a and b values are:",a,b)
a,b = b,a
print("After swapping a and b values are:",a,b)

Before swapping a and b values are: 20 30
After swapping a and b values are: 30 20

In [65]:
#chained comparison
a = 20
b = 30
c = 40
if a<b and b<c:
    pass
if a<b<c:
    pass

In [66]:
#Teranary operator
print("a is smaller") if a<b else print("b is smaller")

a is smaller

In [ ]:
#using in operator
if letter == 'a' or letter == 'e' or letter == 'i' or letter == 'o' or letter == 'u':
    pass 

if letter in ['a','e','i','o','u']:
    pass
  
if letter in "aeiou":
    pass

In [67]:
#Multiple assignment
x = 10
y = 10
z = 10

x=y=z=10
print(x,y,z)

10 10 10

### Built-in package (or) module: 
1. using import
2. using alias names
3. using from and import keywords

In [68]:
help("math")

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [73]:
import math
print(math.sqrt(16))
print(math.factorial(5))
print(math.sin(45))
print(math.ceil(12.234))
print(math.floor(12.234))

4.0
120
0.8509035245341184
13
12

In [74]:
import math as m
print(m.sqrt(16))
print(m.factorial(5))
print(m.sin(45))
print(math.ceil(12.234))
print(math.floor(12.234))

4.0
120
0.8509035245341184
13
12

In [75]:
from math import *
print(sqrt(16))
print(factorial(5))
print(sin(45))
print(ceil(12.234))
print(floor(12.234))

4.0
120
0.8509035245341184
13
12

### datetime

In [77]:
import datetime
x = datetime.datetime.now()
print(x)

2020-08-14 12:50:05.540558

In [80]:
y = 2020
m = 7
d = 19
y = datetime.datetime(y,m,d)
print(y)

2020-07-19 00:00:00